*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.header{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.Names{
    display: flex;
    align-items: center;
    gap: 50px;
}
.bags{
    display: flex;
    align-items: center;
    gap: 20px;
}
.versions{
    display: flex;
    justify-content: center;
    gap: 100px;
    padding-bottom: 20px;
}
.version1,.version2,.version3,.version4{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.version1 >a,.version2 >a{
    color: coral;
    text-decoration: none;
}
.version5{
    padding: 5px;
}
.Sentence{
    display: flex;
    justify-content: center;
    border: 2px solid rgba(211, 211, 211, 0.163);
    padding: 10px;
    background-color: rgba(211, 211, 211, 0.12);
}
.body{
    display: flex;
    justify-content: space-around;
}
.skull1{
    padding: 50px;
    font-size: 4rem;
}
.skull2{
    padding-top: 70px;
    font-size: 2rem;
}
.peak{
    padding: 0px 50px;
}
.content{
    font-size: 1.5rem;
    padding: 150px ;
}
.cards{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 200px;
}
.card1{
    border: 2px solid black;
    border-radius:30px ;
    width: 300px;
    height: 500px;
    position: relative;
}
.card1 >img,.card2 >img,.card3 >img{
    width: 100%;
}
.Int1,.Cut1,.Chip1,.design1{
    position: absolute;
    top: 0px;
    font-size: 1.2rem;
    color: white;
    padding: 20px;
}
.Int2,.Cut2,.Chip2,.design2{
    position: absolute;
    top: 30px;
    padding: 20px;
    font-size: 1.4rem;
    color: white;
}
.card2,.card3,.card4{
    width: 300px;
    height: 500px;
    position: relative;
}
.design1,.design2{
    color: black;
}
.body2{
    border: 2px solid rgba(211, 211, 211, 0.143);
    background-color: rgba(211, 211, 211, 0.202);
    padding-bottom: 100px;
}
.Explore{
    display: flex;
    justify-content: space-between;
}
.choose1{
    font-size: 3.2rem;
    padding: 100px;
}
.Explore >a{
    text-decoration: none;
    padding: 120px;
    font-size: 1.4rem;
}
.picks{
    display: flex;
    justify-content: space-evenly;

}
.picks{
    display: flex;
    flex-direction: ;
    justify-content: space-evenly;
}
.pick1,.pick2,.pick3,.pick4{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.pick1 >a,.pick2 >a,.pick3 >a,.pick4 >a{
    display: block;
    text-decoration: none;
    color: coral;
}
.price{
    display: flex;
    align-items: center;
    column-gap: 30px;
    
}
.price >button{
    width: 100px;
    height: 30px;
    border-radius: 20px;
    padding: 5px;
    background-color: rgba(0, 0, 255, 0.724);
    color: white;
}
.price >a{
    text-decoration: none;
}
.items{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 150px;
}
.element1,.element2,.element3,.element4,.element5{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 10px;
   padding-bottom: 30px;
}
.core1,.core2,.core3,.core4,.core5{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 10px;
   padding-bottom: 30px;
}

.quality3 >.bionic{
    width: 50px;
    padding: 60px;
    height: 2px;
    background-color: black;
}
.bionic1,.bionic2,.bionic3{
    display: flex;
   flex-direction: column;
   align-items: center;
   gap: 10px;
   padding-bottom: 30px;
}
.Ultra1,.Ultra2,.Ultra3{
    display: flex;
   flex-direction: column;
   align-items: center;
   gap: 10px;
   padding-bottom: 30px;
}
.body3{
    border: 2px solid rgba(211, 211, 211, 0.192);
    background-color: rgba(211, 211, 211, 0.184);
    padding: 20px 0px 150px 0px;

}
.latest{
    width: 600px;    
    font-size: 1.6rem;
    padding: 0px 0px 80px 100px;
}
.model{
    padding: 0px 50px 100px 50px;
}
.place1{
    display: flex;
    justify-content: space-around;
    padding-bottom: 100px;
}
.place1 >h1{
    width: 500px;
    font-size: 3rem;
}
.place1 >a{
    text-decoration: none;
    font-size: 1rem;
}
.journey{
    display: flex;
    justify-content: space-evenly;
}
.trade,.monthly,.pickup{
    border: 2px solid rgba(211, 211, 211, 0.3);
    background-color: rgba(211, 211, 211, 0.314);
    width: 300px;
    height: 250px;
    border-radius: 20px;
    padding: 20px;
}
.Accessories{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 150px 20px 60px 30px;
}
.Accessories >h1{
    font-size: 3rem;
}
.Accessories >a{
    text-decoration: none;
    font-size: 1rem;
}
.Mag,.AirTag{
    border: 2px solid lightgray;
    border-radius: 20px;
    width: 600px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-color: rgba(211, 211, 211, 0.197);
}
.Mag >img,.AirTag >img{
    width: 100%;
    height: 100%;
}
.Mag >a,.AirTag >a{
    text-decoration: none;
}
.key{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.Mobile{
    font-size: 1.5rem;
}
.footer{
    display: flex;
    column-gap: 30px;
}
.Explore{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: rgba(0, 0, 0, 0.758);
}
.compare{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.shop,.More{
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: bold;
    /* font-size: 18px; */
    color: black;

    /* font-family: 'Courier New', Courier, monospace; */
}